:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*Color-fonts */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;

  /* Others */
  --indent: 24px;
  --items: 3;
}
/**
  |============================
  | Base styles
  |============================
*/
.body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
.logo-link {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  color: var(--color-iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}
.logo-link-cloud {
  color: var(--color-cloud);
}
.logo-link-blue {
  color: var(--color-navy-blue);
}
.btn {
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn-cloud {
  font-family: inherit;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  transition: 0ms color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
}
.btn-cloud:hover,
.btn-cloud:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  text-transform: capitalize;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.desc:hover,
.desc:focus {
  color: var(--color-ocean);
}

.p-text-slate {
  color: var(--color-slate);
  margin-bottom: 8px;
}
.p-text-cloud {
  color: var(--color-cloud);
  background-color: var(--color-navy-blue);
  width: 264px;
  height: 72px;
}
.small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  border-bottom: -1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-contact {
  font-style: normal;
  color: var(--color-slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--color-ocean);
}
.header-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 15px 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-contact-list {
  margin-left: 332px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.desc.active {
  position: relative;
  color: var(--color-ocean);
}
.desc.active::after {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--color-ocean);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero-title {
  padding: 0 313px 48px 313px;
  max-width: 496px;
  box-sizing: content-box;
}
.hero-container {
  align-items: center;
  text-align: center;
}
.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 480px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Abaut styles
  |============================
*/
.abaut-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 264px;
  min-height: 112px;
  background: var(--color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.abaut-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.abaut-list {
  display: flex;
  gap: 24px;
}
.abaut-item {
  width: 264px;
  min-height: 104px;
}
/**
  |============================
  | Portfolio styles
  |============================
*/
.portfolio-section {
  padding-bottom: 120px;
}
.portfolio-title-list {
  display: flex;
  gap: 24px;
}

/* Socials icon styles */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--color-cloud);
  background-color: var(--color-iris);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-ocean);
}
/**
  |============================
  | Team styles
  |============================
*/

.team-section {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-title-item {
  background-color: var(--color-white);
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-container {
  padding: 32px 0 32px 0;
}
/**
  |============================
  | Filters style
  |============================
*/
.filter-section {
  padding: 96px 0 120px;
}
.filter-section-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
/**
  |============================
  | Card section style
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.card-set-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-link:hover,
.card-set-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-set-link:hover .overlay-text,
.card-set-link:focus .overlay-text {
  transform: translateY(0%);
}
.card-set-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-card-text {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  padding: 40px 32px;
  background-color: var(--color-iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | Customers styles
  |============================
*/
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title-list {
  display: flex;
  gap: 24px;
}
.customers-title-item {
  width: 168px;
  height: 88px;
  text-align: center;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}
.customers-icon {
  fill: currentColor;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}
.soc-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  background-color: var(--color-iris);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: var(--color-cloud);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-green);
}
.footer-container-info {
  margin-right: 120px;
}

/* Footer subscrible styles*/

.footer-subscribe {
  margin-left: 80px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.form-email {
  display: flex;
  gap: 24px;
}
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.input-email::placeholder {
  color: var(--color-white);
}
.btn-email {
  display: flex;
  border-radius: 4px;
  background-color: var(--color-iris);
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border: none;
  gap: 16px;
  min-width: 165px;
  cursor: pointer;
}
.icons-email {
  fill: var(--color-white);
  margin-left: 16px;
}

/**
  |============================
  | Modal window styles
  |============================
*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: var(--color-dairy);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form-name {
  position: relative;
}
.form-field {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus {
  border-color: #4D5AE5;
  
}
.comment {
  margin-bottom: 16px;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus + .form-icon {
  fill: var(--color-iris);
}
.form-comment {
  
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4)
}
.form-comment:focus {
  border-color: #4D5AE5;
}
.form-agreement {

  margin-bottom: 24px;
}
.form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  align-items: center;

}
.form-agreement-text a {
  color: var(--color-iris);
  text-decoration: underline;
  line-height: 1.33;
}
.privacy-policy {
  color: var(--color-iris);
}

.form-agreement-text span {
  display: inline-flex;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.check-input:checked + .form-agreement-text span {
  background-color: var(--color-ocean);
  border-color: var(--color-ocean);
  fill: var(--color-cloud);
  border: none;
}
.check-icon {
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-iris);
  color: var(--color-white);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px auto;
  cursor: pointer;
  border: none;

}
